.Carrousel {
    height: 255px;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing:content-box;
    @media screen and (min-width: $small-screen) {
        height: 415px;
        width: auto;
    }
  }
  
  .ImgCarrousel {
    position: relative;
    object-fit: cover;
    height: 100%;
    min-width: 100%;
    @media screen and (min-width: $small-screen) {
      height: 415px;
       
    }
  }
  
  .Slider {
    display: flex;
    width: 100%;
    
  }
  
  .Slide {
    min-height:100%;
    min-width: 100%;
    display: flex;
  }
  
  .ImageNumbering {
    position: absolute;
    bottom: 20px;   
     @include typo(white);
    font-size: 18px;
    width: 100%;
    text-align: center;
    visibility: hidden;
    @media screen and (min-width: $small-screen) {
        visibility: visible;
        
    }
  }
  
  .faChevronLR {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    top: 230px;
    color: white;
    z-index: 10;
    @media screen and (min-width: $small-screen) {
      top: 300px;
        font-size: 50px;
    }
    @media screen and (min-width: $medium-screen) {
      top: 300px;
        font-size: 70px;
    }
  }
  
  .faChevronLeft {
    left: 40px;
    z-index: 5;
    @media screen and (min-width: $small-screen) {
        left: 60px;
    }
    @media screen and (min-width: $medium-screen) {
      left: 100px;
    }
    @media screen and (min-width: $large-screen) {
      left: 130px;
  }
  }
  
  .faChevronRight {
    right: 40px;
    @media screen and (min-width: $small-screen) {
        right: 60px;
    }
    @media screen and (min-width: $medium-screen) {
      right: 100px;
    }
    @media screen and (min-width: $large-screen) {
      right: 130px;
  }
  }   