.collapse {
    width: 100%;
    display:flex ;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    

    .item {
    border-radius: 5px;
    background: var(--Red, #FF6060);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
        @include typo(white);
        font-weight: 500;
        padding: 5px;
        font-size: 13px;
        display: flex;
        height: 30px;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    }
}

.arrow {
    font-size: 24px;
    color: white;
    transition: transform 0.5s ease;
}

.arrow.open {
    transform: rotate(180deg);
}


.description {
    padding: 0 20px;
    @include typo;
    background-color: #F6F6F6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease; /* Utiliser max-height pour une transition fluide */
}

.descriptionshow {
    /* Utiliser max-height avec une valeur suffisamment grande pour couvrir toutes les hauteurs possibles */
    max-height: 500px; 
    padding: 5px 20px;
    @include typo;
    background-color: #F6F6F6;
    overflow: hidden; /* Ajouter overflow: hidden pour masquer le contenu supplémentaire */
    transition: max-height 0.5s ease; /* Utiliser la même durée de transition que la classe .description */
}

