@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


$font-family: 'Montserrat';
$main-color: #FF6060;

$small-screen: 480px;    
$medium-screen: 768px;   
$large-screen: 1020px;   