html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
      
}
body {
  margin: 0;
  padding: 20px;
  border: 0;
  font-size: 100%;
  font-family: $font-family;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    overflow-x: hidden;
    box-sizing: border-box;
    @media only screen and  (min-width: 350px) and (max-width: $small-screen) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media only screen and (min-width:$small-screen) and (max-width: $medium-screen) {
        padding-left: 27px;
        padding-right: 27px;
    }
    @media only screen and (min-width: $medium-screen)  {
        padding-left: 45px;
        padding-right: 45px;
    }
}

main {
    
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}